<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/CVce.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> {{persona.nombre}} {{persona.apellido}}</p>
        <p> Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam harum earum, explicabo dignissimos laboriosam error omnis atque natus non. Earum ex esse soluta dolore minima unde voluptatem at, quibusdam temporibus?
            </p>
        </span>
    </div>
</div>

