<div class="row">

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [title]="'HTML'"
            [titleFontWeight]="'700'"
            [titleColor]="'Black'"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#2155cd'"
            [innerStrokeColor]="'#fefefe'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="35"
            [radius]="100"
            [title]="'CSS'"
            [titleFontWeight]="'700'"
            [titleColor]="'Black'"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#2155cd'"
            [innerStrokeColor]="'#fefefe'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="35"
            [radius]="100"
            [title]="'JavaScript'"
            [titleFontWeight]="'700'"
            [titleColor]="'Black'"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#2155cd'"
            [innerStrokeColor]="'#fefefe'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [title]="'GitHub'"
            [titleFontWeight]="'700'"
            [titleColor]="'Black'"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#2155cd'"
            [innerStrokeColor]="'#fefefe'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'Trabajo colaborativo'"
            [titleFontWeight]="'700'"
            [titleFontSize]="'15'"
            [titleColor]="'Black'"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#2155cd'"
            [innerStrokeColor]="'#fefefe'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="20"
            [radius]="100"
            [title]="'Ingles'"
            [titleFontWeight]="'700'"
            [titleColor]="'Black'"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#2155cd'"
            [innerStrokeColor]="'#fefefe'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
</div>
